
.addTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 238, 238, 0.41);
    width: 643px;
    height: auto;
    margin: auto;
    padding: 10px 0 20px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
}

.btnAddTask {
    width: 250px;
    height: 50px;
    border: 1px solid rgba(188, 158, 252, 0.5508);
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.btnAddTask:hover {
    background: linear-gradient(rgba(100, 85, 238, 0.551),rgba(118, 204, 238, 0.842));
    color: white;
    cursor: pointer;

}

.iconAddTask {
    width: 40px;
    height: 40px;
    position: relative;
    right: 47px;
    margin-top: 10px;
}