
.addTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
/*     position: relative;
    bottom: 24px; */
    background-color: rgba(255, 238, 238, 0.41);
    width: 643px;
    height: auto;
    margin: auto;
    /* margin: 8px 360px 8px 360px; */
    padding: 10px 0 20px 0;
    
}

.btnAddTask {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.iconAddTask {
    width: 40px;
    height: 40px;
    position: relative;
    right: 47px;
    margin-top: 10px;
}