/* .iconAddTaskPrueba {
    width: 400px;
    height: 400px;
    fill:blueviolet;
    stroke: red;
    marker-mid: none;
    
}
svg path {
    width: 400px;
    height: 400px;
    fill: aquamarine;
}
 */