
.taskList {
    display: flex;
    flex-direction: column;
    /* justify-content: center;/*  */ 
    /* align-items: center; */
    background-color: rgba(255, 238, 238, 0.41);
    /* margin: 8px 360px 8px 360px; */
    width: 643px;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 8px;
    /* height:100%; */
/*     position: relative;
    bottom: 16px; */
    /* border-radius: 15px; */
}