.todoSearch{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 238, 238, 0.41);
    width: 643px;
    height: auto;
    margin: auto;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search input {
    margin-top: 10px;
    width: 370px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.911);
    border: 1px solid purple;
    border-radius: 10px;
    padding: 1px 15px 1px 15px;
}

.search input::selection {
    margin-top: 10px;
    width: 370px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.911);
    border: 3px solid purple;
    border-radius: 10px;
    padding: 1px 15px 1px 15px;
}
.iconBuscar {
    width: 28px;
    height: 28px;
    position: relative;
    right: 40px;
    top: 5px
}

.btnFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 24px;
}

/* .btnFilter button {
    width: 90px;
    height:30px;
    margin-right: 50px;
    border: none;
    background: none;
} */

.btnFilterTask{
    width: 90px;
    height:30px;
    margin-right: 50px;
    border: none;
    background: none;
}

.btnFilterTask:hover{
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid rgba(96, 2, 153, 1);
}

/* .btnFilterTask:focus */.active {
    border-bottom: 3px solid rgba(96, 2, 153, 1);
    font-weight: 800;

}


